<h3>もりしー</h3>
<%= link_to 'Ruby', 'https://www.ruby-lang.org/ja/' %>をこよなく愛する学生。<br>
主に使うエディタは<%= link_to 'Sublime Text', 'http://www.sublimetext.com/' %>。<br>
<i class="uk-icon-github"></i> <%= link_to 'moriC', 'https://github.com/moriC'%><br>
<i class="uk-icon-bitbucket"></i> <%= link_to 'moric', 'https://bitbucket.org/moric'%><br>
<i class="uk-icon-facebook"></i> <%= link_to '顔本', 'https://www.facebook.com/tomohiro.m0219'%><br>
<i class="uk-icon-twitter"></i> <%= link_to 'CentBoss', 'https://twitter.com/CentBoss'%><br>